<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Adoption Agency</title>
  </head>
  <body>
    <h1>Available Pets</h1>
    <ul>
      {% for pet in pets %}
      <li>
        <strong>
            <a href="{{ url_for('show_edit_pet', pet_id=pet.id) }}">{{ pet.name }}</a>
        </strong>
        {% if pet.photo_url %}
        <br />
        <img
          src="{{ pet.photo_url }}"
          alt="Photo of {{ pet.name }}"
          width="150"
        />
        {% endif %}
        <br />
        {% if pet.available %}
        <span style="font-weight: bold">Available</span>
        {% else %} Not Available {% endif %}
      </li>
      {% endfor %}
    </ul> 
    <a href="{{ url_for('add_pet') }}">Add a New Pet</a>
  </body>
</html>
